.tagline {
    font-weight: 370;
    display: flex;
    justify-content: center;
    align-items: "center";
    padding: 30px;
    font-size: 2rem;
  }
  
  /* Decrease font size for mobile devices */
  @media (max-width: 768px) {
    .tagline {
      font-size: 1.4rem; /* Adjust size as needed */
    }
  }
  
  @media (max-width: 480px) {
    .tagline {
      font-size: 1.1rem; /* Even smaller for very small screens */
    }
  }
  